#
# A ConfigMap spec for openldap slapd that map directly to files under
# /container/service/slapd/assets/config/bootstrap/ldif/custom
#
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "openldap.fullname" . }}-replication-acls
  labels:
    app: {{ template "openldap.name" . }}
    chart: {{ template "openldap.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- if .Values.extraLabels }}
{{ toYaml .Values.extraLabels | indent 4 }}
{{- end }}
data:
  # replication
  syncprov.ldif: |
    # Load syncprov module
    dn: cn=module,cn=config
    cn: module
    objectClass: olcModuleList
    olcModuleLoad: syncprov.so
    olcModulePath: /opt/bitnami/openldap/lib/openldap
  serverid.ldif: |
    # Set server ID
    dn: cn=config
    changeType: modify
    add: olcServerID
    {{- include "olcServerIDs" . }}
  csyncprov.ldif: |
    # Add syncprov on config
    dn: olcOverlay=syncprov,olcDatabase={0}config,cn=config
    changetype: add
    objectClass: olcOverlayConfig
    objectClass: olcSyncProvConfig
    olcOverlay: syncprov
  rep.ldif: |
    # Add sync replication on config
    dn: olcDatabase={0}config,cn=config
    changetype: modify
    add: olcSyncRepl
    {{- include "olcSyncRepls" . }}
    -
    add: olcMirrorMode
    olcMirrorMode: TRUE
  bsyncprov.ldif: |
    dn: olcOverlay=syncprov,olcDatabase={2}mdb,cn=config
    objectClass: olcOverlayConfig
    objectClass: olcSyncProvConfig
    olcOverlay: syncprov
    olcSpSessionLog: 100
  brep.ldif: |
    dn: olcDatabase={2}mdb,cn=config
    changetype: modify
    add: olcSyncrepl
    {{- include "olcSyncRepls2" . }}

    dn: olcDatabase={2}mdb,cn=config
    changetype: modify
    add: olcMirrorMode
    olcMirrorMode: TRUE
  readonlybrep.ldif: |
    dn: olcDatabase={2}mdb,cn=config
    changetype: modify
    add: olcSyncrepl
    {{- include "olcSyncRepls2" . }}
  # TODO - currently this needs to be executed manually e.g. via kubectl exec in each read only replica
  # need to see if there is a way to make olcMultiProvider not be propagated from main cluster to readonly replicas.
  readonlyremovemirror.ldif: |
    dn: olcDatabase={2}mdb,cn=config
    changetype: modify
    delete: olcMultiProvider

    dn: olcDatabase={0}config,cn=config
    changetype: modify
    delete: olcMultiProvider
  readonlyrep.ldif: |
    dn: olcDatabase={0}config,cn=config
    changetype: modify
    add: olcSyncRepl
    {{- include "olcSyncRepls" . }}
  # acls
  acls.ldif: |
{{- if .Values.customAcls }}
    {{- .Values.customAcls | nindent 4 }}
{{- else }}
    dn: olcDatabase={2}mdb,cn=config
    changetype: modify
    replace: olcAccess
    olcAccess: {0}to *
      by dn.exact=gidNumber=0+uidNumber=1001,cn=peercred,cn=external,cn=auth manage
      by * break
    olcAccess: {1}to attrs=userPassword,shadowLastChange
      by self write
      by dn="{{ include "global.bindDN" . }}" write
      by anonymous auth by * none
    olcAccess: {2}to *
      by dn="{{ include "global.bindDN" . }}" write
      by self read
      by * none
{{- end }}
